* {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header__left img {
  height: 20px;
  width: auto;
  margin-left: 5px;
}

.user__avatar {
  border-radius: 30%;
  width: 25px;
}


.avatar__{
  max-width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
}


.header {
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: #c3c3ca;
  z-index: 100;
  top: 0;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 222px;
}

.header__input input {
  border: none;
  background-color: transparent;
  outline-width: 0;
  font-size: medium;
}

.header__middle {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__option .material-icons {
  font-size: xx-large;
  color: gray;
}

.header__option:hover .material-icons {
  color: #2e81f4;
}

.header__option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.header__option.active .material-icons {
  color: #2e81f4;
}

.header__option.active {
  border-bottom: 4px solid #2e81f4;
}

.header__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__info h4 {
  margin-left: 10px;
  margin-right: 10px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right .material-icons {
  color: black;
  margin: 0 10px;
}

.header__right .material-icons:hover {
  cursor: pointer;
}

/* sidebar  */



.sdleft {
  text-align: center;
  color: #000;
  text-align: center;
  font-size: 32px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sddown {
  color: #000;
  padding-top: 5px;
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 100;
  height: 50px;
  flex-direction: column;
  flex-shrink: 0;
  padding: 20px;
  text-align: justify;

  
 
}

.sddown:hover {
  background-color: #00FF94;
  border-radius: 15px;
}


.kanan{
  padding: 20px 10px;
  flex: 0.33;
  margin-top: -50px;
  margin-left: 8px;
}
.ppkanan{
  padding-top: 50px;
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
}
.baris{
  display: flex;
  align-items: center;
  padding: 13px;
  cursor: pointer;
  justify-content: left;
  flex-shrink: 0;
  border-radius: 15px;
}
.sidebarRow {
  display: flex;
  align-items: center;
  padding: 13px;
  cursor: pointer;
  justify-content: left;
  flex-shrink: 0;
  border-radius: 15px;
  
  

 /color/
 
  color: #000;
  font-size: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sidebarRow:hover {
  background-color: #00FF94;
  border-radius: 11px;
}

.sidebarRow h4 {
  margin-left: 20px;
  font-weight: 600;
}

.sidebarRow .material-icons {
  font-size: xx-large;
  color: #2e81f4;
}

.text-center-content{
  float:right;
  width: 100px;
  border: none;
  color: #a7e4cb;
 
}
.text-center-sidebar{
  float: right;
  width: 130px;
  height: 40px;
  border: none;
  border-color: #000;
  margin-top: 40px;
}


 
.main__body {
  display: flex;
}

body {
  background-color: #f1f2f5;
}

.feed {
  flex: 1;
  padding: 2px 100px;
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar {
  padding: 40px 10px;
  flex: 0.33;
}

/* message sender */

.messageSender {
  display: flex;
  margin-top: 306px;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 100%;
  
}

.messageSender__input{
  font-size: 1.5em;
}
.messageSender__top {
  display: flex;
  align-items: center;
  border-bottom: 5px solid #eff2f5;
  padding: 10px;
  
}

.messageSender__top form {
  flex: 1;
  display: flex;
}

.messageSender__top form input {
  flex: 1;
  outline-width: 0;
  border: none;
  padding: 30px 20px;
  margin: 0 10px;
  border-radius: 15px;
  background-color: #c2c2c8;
}

.messageSender__bottom {
  display: flex;
  justify-content:flex-start;
}
.messageSender__option img{
  width: 20px;
  height: 20px;
}

.messageSender__option {
  padding: 8px;
  display: flex;
  align-items: center;
  color: gray;
  margin: 1px;
  image-resolution: 100%;
}


.messageSender__option h3 {
  font-size: medium;
  margin-left: 10px;
}

.messageSender__option:hover {
  cursor: pointer;
  background-color: #eff2f5;
  
}

/* post */

.post {
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post__image img {
  width: 100%;
}

.post__top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
}

.post__avatar {
  margin-right: 10px;
}

.post__topInfo h3 {
  font-size: medium;
}

.post__topInfo p {
  font-size: small;
  color: gray;
}
.post__bottom p{
  text-align: justify;
}
.post__bottom {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px 20px;
}

.post__options {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: medium;
  color: gray;
  cursor: pointer;
  padding: 15px;
}

.post__option {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex: 1;
}

.post__option p {
  margin-left: 10px;
}

.post__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .header__input input {
    display: none;
  }

  .header__middle {
    display: none;
  }

  .header__info {
    display: none;
  }

  .widgets {
    display: none;
  }

  .feed {
    margin-top: 20px;
    width: 100%;
    padding: 0;
  }


}

/* 
button[type="submit"] {
  width: 100%;
  height: 60px;
  background: #00FF94;
  border-radius: 15px;
  border: #00FF94 3px;
  color: black;
  font-weight: 700;
  cursor: pointer;
  
  margin: auto;
  font-size: 32px;
  font-family: Poppins;
  font-style: bold;

}

@media screen and (max-width: 768px) {
  button[type="submit"] {
      max-width: 100%;
  }
}

button[type="submit"]:hover {
  border-color: #6433E0;
  color: red;
  transition: .5s;
}

.button2[type="submit"] {
width: 10%;
height: 70px;
background: #00FF94;
border-radius: 15px;
border: #00FF94 3px;
color: black;
font-weight: 700;
cursor: pointer;

margin: right;
font-size: 32px;
font-family: Poppins;
font-style: bold;
}
*/
#bedawarna{
width: 80px;
max-width: 400px;
height: 30px;
border: none;
background: #aeb1dc;
border-radius: 5px;
font-size: 18px;
color: black;
font-weight: 700;
cursor: pointer;
outline: none;
}

button[type="submit"] {
width: 80px;
max-width: 400px;
height: 30px;
border: none;
background: #00FF94;
border-radius: 5px;
font-size: 18px;
color: black;
font-weight: 700;
cursor: pointer;
outline: none;
}


@media screen and (max-width: 768px) {
button[type="submit"] {
    max-width: 100%;
}
}

button[type="submit"]:hover {
border-color: green;
color: white;
transition: .5s;
background: #ff0000;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header__left img {
  height: 20px;
  width: auto;
  margin-left: 5px;
}

.user__avatar {
  border-radius: 30%;
  width: 25px;
}


.avatar__{
  max-width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
}


.header {
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: #c3c3ca;
  z-index: 100;
  top: 0;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 222px;
}

.header__input input {
  border: none;
  background-color: transparent;
  outline-width: 0;
  font-size: medium;
}

.header__middle {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__option .material-icons {
  font-size: xx-large;
  color: gray;
}

.header__option:hover .material-icons {
  color: #2e81f4;
}

.header__option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.header__option.active .material-icons {
  color: #2e81f4;
}

.header__option.active {
  border-bottom: 4px solid #2e81f4;
}

.header__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__info h4 {
  margin-left: 10px;
  margin-right: 10px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right .material-icons {
  color: black;
  margin: 0 10px;
}

.header__right .material-icons:hover {
  cursor: pointer;
}

/* sidebar  */



.sdleft {
  text-align: center;
  color: #000;
  text-align: center;
  font-size: 32px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sddown {
  color: #000;
  padding-top: 5px;
  font-size: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 100;
  height: 50px;
  flex-direction: column;
  flex-shrink: 0;
  padding: 20px;
  text-align: justify;

  
 
}

.sddown:hover {
  background-color: #00FF94;
  border-radius: 15px;
}


.kanan{
  padding: 20px 10px;
  flex: 0.33;
  margin-top: -50px;
  margin-left: 8px;
}
.baris{
  display: flex;
  align-items: center;
  padding: 13px;
  cursor: pointer;
  justify-content: left;
  flex-shrink: 0;
  border-radius: 15px;
}
.sidebarRow {
  display: flex;
  align-items: center;
  padding: 13px;
  cursor: pointer;
  justify-content: left;
  flex-shrink: 0;
  border-radius: 15px;
  
  

 /color/
 
  color: #000;
  font-size: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sidebarRow:hover {
  background-color: #00FF94;
  border-radius: 11px;
}

.sidebarRow h4 {
  margin-left: 20px;
  font-weight: 600;
}

.sidebarRow .material-icons {
  font-size: xx-large;
  color: #2e81f4;
}

.text-center-content{
  float:right;
  width: 100px;
  border: none;
  color: #a7e4cb;
}
.text-center-sidebar{
  float: right;
  width: 130px;
  height: 40px;
  border: none;
  border-color: #000;
  margin-top: 40px;
}


 
.main__body {
  display: flex;
}

body {
  background-color: #f1f2f5;
}

.feed {
  flex: 1;
  padding: 2px 100px;
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar {
  padding: 40px 10px;
  flex: 0.33;
}

/* message sender */

.messageSender {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 100%;
  
}

.messageSender__input{
  font-size: 1.5em;
}
.messageSender__top {
  display: flex;
  align-items: center;
  border-bottom: 5px solid #eff2f5;
  padding: 10px;
  
}

.messageSender__top form {
  flex: 1;
  display: flex;
}

.messageSender__top form input {
  flex: 1;
  outline-width: 0;
  border: none;
  padding: 30px 20px;
  margin: 0 10px;
  border-radius: 15px;
  background-color: #c2c2c8;
}

.messageSender__bottom {
  display: flex;
  justify-content:flex-start;
}
.messageSender__option img{
  width: 20px;
  height: 20px;
}

.messageSender__option {
  padding: 8px;
  display: flex;
  align-items: center;
  color: gray;
  margin: 1px;
  image-resolution: 100%;
}


.messageSender__option h3 {
  font-size: medium;
  margin-left: 10px;
}

.messageSender__option:hover {
  cursor: pointer;
  background-color: #eff2f5;
  
}

/* post */

.post {
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post__image img {
  width: 100%;
}

.post__top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
}

.post__avatar {
  margin-right: 10px;
}


.post__topInfo h3 {
  font-size: medium;
}

.post__topInfo p {
  font-size: small;
  color: gray;
}
.post__bottom p{
  text-align: justify;
}
.post__bottom {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px 20px;
}

.post__options {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: medium;
  color: gray;
  cursor: pointer;
  padding: 15px;
}

.post__option {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex: 1;
}

.post__option p {
  margin-left: 10px;
}

.post__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .header__input input {
    display: none;
  }

  .header__middle {
    display: none;
  }

  .header__info {
    display: none;
  }

  .widgets {
    display: none;
  }

  .feed {
    margin-top: 20px;
    width: 100%;
    padding: 0;
  }


}

/* 
button[type="submit"] {
  width: 100%;
  height: 60px;
  background: #00FF94;
  border-radius: 15px;
  border: #00FF94 3px;
  color: black;
  font-weight: 700;
  cursor: pointer;
  
  margin: auto;
  font-size: 32px;
  font-family: Poppins;
  font-style: bold;

}

@media screen and (max-width: 768px) {
  button[type="submit"] {
      max-width: 100%;
  }
}

button[type="submit"]:hover {
  border-color: #6433E0;
  color: red;
  transition: .5s;
}

.button2[type="submit"] {
width: 10%;
height: 70px;
background: #00FF94;
border-radius: 15px;
border: #00FF94 3px;
color: black;
font-weight: 700;
cursor: pointer;

margin: right;
font-size: 32px;
font-family: Poppins;
font-style: bold;
}
*/
#bedawarna{
width: 80px;
max-width: 400px;
height: 30px;
border: none;
background: #aeb1dc;
border-radius: 5px;
font-size: 18px;
color: black;
font-weight: 700;
cursor: pointer;
outline: none;
}

button[type="submit"] {
width: 80px;
max-width: 400px;
height: 30px;
border: none;
background: #00FF94;
border-radius: 5px;
font-size: 18px;
color: black;
font-weight: 700;
cursor: pointer;
outline: none;
}


@media screen and (max-width: 768px) {
button[type="submit"] {
    max-width: 100%;
}
}

button[type="submit"]:hover {
border-color: #ff0000;
color: white;
transition: .5s;
background: #ff0000;
}