@media (min-width: 768px) {
    .container {
        width: 70%;
    }
}

/* Konten full layar pada tablet dan mobile */
@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}

@font-face {
    font-family: 'poppins';
    src: url('../font/MontserratAlternates-Regular.ttf');
}

* {
    font-family: 'poppins';
}