* {

    font-family: 'Montserrat Alternates', sans-serif;
}

@font-face {
    font-family: 'h3';
    src: url('../font/MontserratAlternates-Bold.ttf');
}

@font-face {
    font-family: 'h1';
    src: url('../font/MontserratAlternates-ExtraBold.ttf');
}

@font-face {
    font-family: 'h5';
    src: url('../font/MontserratAlternates-Bold.ttf');
}

@font-face {
    font-family: 'p';
    src: url('../font/Poppins-Regular.ttf');
}

body {
    background: linear-gradient(45deg, #FFFFFF 35%, #00FF94 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.min-h-screen {
    min-height: 90vh;
}

.footer {
    flex-shrink: 0;
}

.navbar {
    background-color: #6433E0;
}

.h3 {
    font-family: 'h3';
}

.h1 {
    font-family: 'h1';
}


.navbar-nav li {
    margin-right: 10px;
}

.big-btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #00FF94; /* Mengubah border menjadi berwarna hijau */
    color: #00FF94;
    border-radius: 14px;
    font-size: 24px;
    margin-right: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    background-color: transparent; /* Mengubah background menjadi transparan */
    border-bottom: 2px solid #00FF94; /* Menambahkan border bawah */
}

.big-btn:hover {
    background-color: #6433E0;
    text-decoration: none;
}

.big-btn:focus {
    outline: 2px solid #00FF94;
}



.text-uppercase {
    font-family: 'h5';
    color: #00FF94;
}

p {
    font-family: 'p';
}

.text-center {
    background-color: #6433E0;
}